$phone_w: 376px;

.carousel-box {
	width: 80vw;
	height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	//background: red;
	//@media only screen and (min-width: $phone_w) {
	//	width: 70vw;
	//	height: 35vh;
	//	background: blue;
	//}
	@media only screen and (min-width: 450px) {
		width: 70vw;
		height: 45vh;
		//background: green;
	}
	@media only screen and (min-width: 769px) {
		//width: 95vw;
		height: 45vh;
		//background: pink;
	}
}

.carousel-box label:before, label:after {
	color: white;
	display: block;
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	vertical-align: middle;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

.carousel-box label:before {
	content: "\276D";
	right: 100%;
	font-size: 1rem;
	@media only screen and (min-width: $phone_w) {
		font-size: 1.4rem;
	}
	@media only screen and (min-width: 450px) {
		font-size: 1.8rem;
	}
	@media only screen and (min-width: 769px) {
		font-size: 2rem;
	}
}

.carousel-box label:after {
	content: "\276C";
	left: 100%;
	font-size: 1rem;
	@media only screen and (min-width: $phone_w) {
		font-size: 1.4rem;
	}
	@media only screen and (min-width: 450px) {
		font-size: 1.8rem;
	}
	@media only screen and (min-width: 769px) {
		font-size: 2rem;
	}
}