a.gpglink, a.gpglink:hover {
	color: #e56b6f;
	text-decoration: none;
}

.donations {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100vw;
	height: 85vh;
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
}

.donationcontainer {
	display: flex;
	align-items: flex-end;
	width: 50vw;
	height: 85vh;
}

.donationlinks {
	display: none;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 50vw;
	height: 50vh;
	background: #364156;
	position: absolute;
	color: #EAAC8B;
	font-family: 'Baloo Bhai 2';
	font-size: 1.5vw;
	border-radius: 7px;
	padding: 2%;
	margin: 2%;
	margin-bottom: 65vh;
	margin-right: 40vw;
	transition: all 0.5s ease-in-out;
}

.donatelogo {
	width: 45px;
	height: 45px;
	margin-right: 1vw;
}

.gpgkey {
	width: 20px;
	height: 20px;
	font-size: 2vw;
}

.copykey {
	color: #e56b6f;
}

.copykey:hover {
	cursor: pointer;
}

.clipboard {
	width: 20px;
	height: 24px;
}

.payment {
	width: 50vw;
	display: flex;
}

.displayed {
	display: flex;
}

.copy-address {
	color: #E56B6F;
	padding-right: 1%;
}

.clipboard-box {
	width: 8vw;
	height: 3vh;
	display: flex;
	padding-left: 3%;
}

.clipboard {
	width: 5vw;
	height: 4vh;
	padding-left: 1%;
}
