#submit {
	width: 100%;
	border: 0;
	border-radius: 10px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 20px;
	background: #364156;
	color: #e56b6f;
	font-weight: bold;
	font-size: 2vw;
}

#submit:hover {
	background: #212D40;
}

#subject {
	width: 50vw;
}

#email {
	width: 50vw;
}

#emailer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 80vh;
	background: #0e0f1f;
	border-radius: 5px;
}

#emailContainer {
	position: absolute;
	display: flex;
	width: 100vw;
	height: 100vw;
	justify-content: center;
	align-items: flex-end;
	z-index: 5px;
	font-family: 'Baloo Bhai 2';
}

.close {
	position: absolute;
	top: 5%;
	right: 5%;
	opacity: 0.3;
	font-size: 10vw;
}

.close:hover {
	opacity: 0.6;
}

textarea {
  width: 100%;
  resize: none;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}

.form {
	width: 50vw;
}

input[type=text] {
	padding: 10px;
	width: 90%;
	border: 0;
	border-radius: 10px;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}
