$tablet_w: 768px;
$laptop_w: 1336px;
$desktop_w: 2560px;

a.footerlink:hover {
	color: #e56b6f;
}

.footer {
	display: flex;
	width: 100vw;
	height: 15vh;
	align-items: center;
	justify-content: flex-end;
	background: #364156;
	font-family: 'Baloo Bhai 2';
	font-size: 2.5vw;
	@media (min-width: $tablet_w) {
		font-size: 2vw;
	}
	@media (min-width: $laptop_w) {
		font-size: 1.5vw;
	}
	@media (min-width: $desktop_w) {
		font-size: 2.5vw;
	}
}

.footerghl {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-decoration: none;
	margin-right: 4%;
	color: #e56b6f;
	cursor: pointer;
}

.footerlil {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-decoration: none;
	margin-right: 4%;
	color: #e56b6f;
	cursor: pointer;
}

.footerlil:hover {
	text-decoration: none;
}

.footerel {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-right: 4%;
	text-decoration: none;
	color: #e56b6f;
	cursor: pointer;
}

.footerdl {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-right: 4%;
	text-decoration: none;
	color: #e56b6f;
	cursor: pointer;
}

.home {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-right: 4%;
	text-decoration: none;
	color: #e56b6f;
	cursor: pointer;
}

.homeicon {
	height: 20px;
	width: 20px;
}

.footerlinkedicon {
	height: 16px;
	width: 16px;
}

#footermailicon {
	height: 18px;
	width: 18px;
}

.footerdonate {
	height: 18px;
	width: 18px;
}
