header {
	width: 100vw !important;
	height: 100vh !important;
	background: #212d40;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-image: url('assets/computercode.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: white;
	font-family: 'Maven Pro', sans-serif;
}

i.fas.fa-chevron-down.arrow {
	animation: glow 1.5s ease-in-out infinite alternate;
	font-size: 8vw;
}

.arrowcontainer {
	width: 100vw;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.name {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 8vw;
	width: 100vw;
	height: 80vh;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 25px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
