$page_color2: #0e0f1f;
$page_color1: #212d40;
$page_color: #D1D1D1;

#page {
	width: 100vw;
	display: flex;
	flex-direction: column;
	background: $page_color2;
	overflow-x: hidden;
	overflow-y: scroll;
}