$desktop_w: 2560px;
$laptop_w: 1366px;
$tablet_w: 768px;
$phone_w: 375px;

.projectcard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 70vh;
	margin-top: 13%;
	margin-bottom: 13%;
}

.projecttitle {
	color: #D66853;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 5vw;
	font-family: 'Encode Sans', sans-serif;
	height: 10vh;
	width: 80vw;
}

.projectsnippet {
	display: flex;
	width: 95vw;
	height: 100vh;
	justify-content: space-evenly;
	align-items: center;
	color: #EAAC8B;
	flex-direction: column-reverse;
	@media (min-width: $tablet_w) {
		flex-direction: row;
	}
	@media (max-width: $tablet_w) {
		flex-direction: column-reverse;
	}
}

.projectimage {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	//width: 85vw;
	//height: 60vh;
	//@media (min-width: $phone_w) {
	width: 25vw;
	height: 25vh;
	//background: green;
	//}
	@media (min-width: $tablet_w) {
		width: 50vw;
		height: 100vh;
	//	background: purple;
	}
	@media (max-width: $tablet_w) {
		width: 95vw;
		height: 50vh;
	//	background: pink;
	}
}

.imagebox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90;
	height: 35;
	@media (min-width: $phone_w) {
		width: 50vw;
		height: 30vh;
	}
	@media only screen and (max-width: $tablet_w) {
		width: 90;
		height: 35;
	}
	@media only screen and (min-width: $tablet_w) {
		width: 45vw;
		height: 45vh;
	}
	@media only screen and (min-width: $desktop_w) {
		width: 30vw;
		height: 20vh;
	}
}

.image {
	width: 40vw;
	height: 20vh;
	border-radius: 7px;
	@media only screen and (min-width: $tablet_w) {
		width: 40vw;
		height: 37vh;
	}
	@media only screen and (min-width: $laptop_w) {
		width: 32vw;
		height: 42vh;
	}
	@media only screen and (max-width: $tablet_w) {
		width: 65vw;
		height: 35vh;
	}
}

.desc {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-size: 2vw;
	font-family: 'Baloo Bhai 2';
	color: #EAAC8B;
	@media (min-width: $tablet_w) {
		width: 50vw;
		height: 100vh;
	}
	@media (max-width: $tablet_w) {
		width: 95vw;	
		height: 30vh;
	}
}

.descbox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70vw;
	//@media (min-width: $tablet_w) {
	//	width: 45vw;
	//	height: 45vh;
	//}
	//@media (max-width: $desktop_w) {
	//	width: 40vw;
	//	height: 45vh;
	//}
	//@media (max-width: $tablet_w) {
	//	width: 95vw;
	//}

	@media only screen and (max-width: $tablet_w) {
		width: 90;
		height: 35;
	}
	@media only screen and (min-width: $tablet_w) {
		width: 45vw;
		height: 45vh;
	}
	@media only screen and (min-width: $desktop_w) {
		width: 30vw;
		height: 20vh;
	}

}

.links {
	display: flex;
	width: 50vw;
	height: 10vh;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Baloo Bhai 2';
}

.projectstack {
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	align-items: space-between;
}

.githublink {
	display: flex;
	width: 15vw;
	height: 4vh;
	justify-content: space-evenly;
	align-items: center;
	font-size: 2vw;
	background: #212D40;
	border-radius: 5px;
	color: #EAAC8B;
}

.githublink:hover {
	background: #151e2b;
	color: #EAAC8B;
	text-decoration: none;
}

.applink {
	display: flex;
	width: 25vw;
	height: 4vh;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
	background: #212D40;
	border-radius: 5px;
	color: #EAAC8B;
}

.applink:hover {
	background: #151e2b;
	color: #EAAC8B;
	text-decoration: none;
}

.lang:hover {
	filter: brightness(70%);
}

.giticon {
	width: 20px;
	height: 20px;
}
