$desktop_w: 2560px;
$laptop_w: 1366px;
$tablet_w: 769px;
$phone_w: 376px;

.projectcard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 70vh;
	@media only screen and (min-width: $phone_w) {
		//height: 60vh;
		margin-top: 20%;
		margin-bottom: 20%;
	}
	@media only screen and (min-width: 450px) {
		margin-top: 15%;
		margin-bottom: 25%;
	}
	@media only screen and (min-width: 769px) {
		//height: 60vh;
		margin-top: 5%;
		margin-bottom: 16%;
	}
}

.projecttitle {
	color: #D66853;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 5vw;
	font-family: 'Economica', sans-serif;
	height: 10vh;
	width: 80vw;
}

.projectsnippet {
	display: flex;
	width: 95vw;
	height: 90vh;
	justify-content: space-evenly;
	align-items: center;
	color: #EAAC8B;
	flex-direction: column-reverse;
	@media (min-width: $tablet_w) {
		flex-direction: row;
	}
	@media (max-width: $tablet_w) {
		flex-direction: column-reverse;
	}
}

.projectimage {
	/*
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 25vw;
	height: 45vh;
	background: purple;
	@media (min-width: $tablet_w) {
		width: 50vw;
		height: 100vh;
		background: cyan;
	}
	@media (max-width: $tablet_w) {
		width: 95vw;
		height: 60vh;
		background: orange;
	}
	*/
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 95vw;
	height: 35vh;
	//background: purple;
	@media (min-width: $phone_w) {
		height: 60vh;
	}
	@media (min-width: $tablet_w) {
		width: 50vw;
		height: 100vh;
		//background: cyan;
	}
}

.imagebox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50vw;
	height: 45vh;
	@media (max-width: $tablet_w) {
		width: 95vw;
		height: 50vh;
	}
}

.image {
	width: 45vw;
	height: auto;
	border-radius: 7px;
	@media (max-width: $tablet_w) {
		width: 75vw;
	}
}

.desc {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-size: 3vw;
	font-family: 'Baloo Bhai 2';
	color: #EAAC8B;
	@media (min-width: $tablet_w) {
		width: 50vw;
		height: 100vh;
		font-size: 2vw;
	}
	@media (max-width: $tablet_w) {
		width: 95vw;	
		height: 30vh;
		font-size: 2vw;
	}
}

.descbox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70vw;
	@media only screen and (max-width: $tablet_w) {
		width: 90;
		height: 35;
	}
	@media only screen and (min-width: $tablet_w) {
		width: 45vw;
		height: 45vh;
	}
	@media only screen and (min-width: $desktop_w) {
		width: 30vw;
		height: 20vh;
	}
}

.links {
	display: flex;
	width: 50vw;
	height: 10vh;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Baloo Bhai 2';
}

.projectstack {
	display: flex;
	width: 50vw;
	justify-content: space-evenly;
	align-items: center;
}

.githublink {
	display: flex;
	width: 15vw;
	height: 4vh;
	justify-content: space-evenly;
	align-items: center;
	font-size: 2vw;
	background: #212D40;
	border-radius: 5px;
	color: #EAAC8B;
	transition: all 0.2s ease-in-out;
}

.githublink:visited {
	outline: none;
	color: #EAAC8B;
	text-decoration: none;
	cursor: default;
	background: #212D40;
}

.githublink:hover, .githublink:active, .githublink:focus {
	background: #151e2b;
	color: #EAAC8B;
	text-decoration: none;
	outline: none;
	cursor: default;
}

.applink {
	display: flex;
	width: 25vw;
	height: 4vh;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
	background: #212D40;
	border-radius: 5px;
	color: #EAAC8B;
	transition: all 0.2s ease-in-out;
}

.applink:visited {
	outline: none;
	color: #EAAC8B;
	text-decoration: none;
	cursor: default;
	background: #212D40;
}

.applink:hover, .applink:active, .applink:focus {
	background: #151e2b;
	color: #EAAC8B;
	text-decoration: none;
	outline: none;
	cursor: default;
}

.lang-container {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (min-width: 1000px) {
		width: 45px;
		height: 45px;
	}
}

.lang {
	width: 100%;
	height: auto;
	transition: all 0.25s ease-in-out;
}

.lang:hover {
	filter: brightness(60%);
}

.giticon {
	width: 20px;
	height: 20px;
}