#summary {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #364156;
	font-size: 3rem;
	width: 100vw;
	height: 55vh;
	color: #EAAC8B;
	font-family: 'Baloo Bhai 2';
}

p#summarytextbox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90vw;
	height: 40vh;
	top: 10%;
	text-align: center;
}
