.tabheader {
	font-size: 4vw;
	font-family: 'Ubuntu', sans-serif;
	color: #7d4e57;
	margin-left: 3vw;
}

#table {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100vw;
}
